.gallery {
	list-style: none;
	margin: 0 39px;
	padding: 0;
	float: left;
	width: 928px;
}
.gallery li {
	margin: 10px;
	padding: 0;
	float: left;
	position: relative;
	width: 212px;
	height: 175px;
}

.gallery a {
	text-decoration: none;
	color: black;
}
.gallery a:hover {
	color: #F78F1E;
	text-decoration: underline;
}
.gallery img {
	border: none;
	padding: 14px 12px 12px 13px;
	width: 170px;
	height: 120px;
}
.gallery em {
	width: 193px;
	height: 25px;
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	background: url(../images/watercolor-mask.png) no-repeat;
	text-align: center;
	padding-top: 138px;
}
